= form_for @mailing do |f|
  - if @mailing.errors.any?
    .error
      %ul
        - @mailing.errors.full_messages.each do |msg|
          %li= msg
  - if @wrong_mail
    .error
      %ul
        %li L'email doit être de la forme "exemple@ares-ensiie.eu"

  .field.col.s12
    = f.label :nom
    = f.text_field :nom
  .field.col.s6
    = f.label :mail
    = f.text_field :mail
  .field.col.s6
    %label.to-hide{:for => "info"} info
    %input#mailing_mail.mail-style{:disabled => "disabled", :value => "@ares-ensiie.eu", :type => "text"}/
  .field.select-field.col.s12
    = f.label "Type"
    .input-field
      %select#select{:name => "mailing[type_mailing]"}
        = options_from_collection_for_select(@types, :name, :name)
  .actions.col.s12
    %button.btn.waves-effect.waves-light{:name => "action", :type => "submit"}
      = texte

:javascript
  $(document).ready(

    function() { $("#select").select2({
      tags: true,
      createSearchChoice:function(term, data) {
        if ( $(data).filter( function() {
          return this.text.localeCompare(term)===0;
        }).length===0) {
          return {id:term, text:term};
        }
      }
    });

    if ("#{@type}".length > 0) {
      $("#select").val("#{@type}");
      $("#select2-select-container").html("#{@type}");
    }

    if ("#{@mail}".length > 0) {
      $("#mailing_mail").val("#{@mail}");
    }
    else {
      if ( $("#mailing_mail").val().length > 0) {
        $("#mailing_mail").val($("#mailing_mail").val().substring(0,$("#mailing_mail").val().length - 15));
      }
    }
  });
