= link_to ajouter_path(@mailing.id), class: "btn-floating btn-large waves-effect waves-light ajout-user" do
  %i.material-icons add

%h4
  GESTION DE
  = @mailing.nom.upcase

%p
  Inscriptions en attente
%hr

%table.striped
  %tbody
  - @inscriptions_invalide.each do |ins|
    %tr
      %td 
        = ins.uid
      %td.right-align
        = link_to 'Valider', accepter_inscription_path(@mailing.id, ins.uid), class: "btn-valider waves-effect waves-light btn"
        = link_to 'Refuser', refuser_inscription_path(@mailing.id, ins.uid), class: "btn-refuser waves-effect waves-light btn"
