= link_to ajouter_path(@mailing.id), class: "btn-floating btn-large waves-effect waves-light ajout-user" do
  %i.material-icons add

%h4
  GESTION DE
  = @mailing.nom.upcase

%p
  Inscrits
%hr

- if @inscriptions_valide.length > 0
  %table.striped
    %tbody
    - @inscriptions_valide.each do |ins|
      %tr
        %td
          = ins.uid
        -if ins.uid != @mailing.creator
          %td.right-align
            = link_to 'Supprimer', refuser_inscription_path(@mailing.id, ins.uid), class: "btn-refuser waves-effect waves-light btn"
        - else
          %td.right-align
            %span.admin Administrateur
- else
  %p Aucun inscrit

= will_paginate @inscriptions_valide
