%h4
  = @mailing.nom.upcase

%p
  %b Mail :
  = @mailing.mail
%p
  %b Type :
  = @mailing.type_mailing
%p
  %b Administrateur :
  = @mailing.creator

%p.margin-top
  Inscrits
%hr

%table.striped
  %tbody
  - @inscriptions_valide.each do |ins|
    %tr
      %td
        = ins.uid

= will_paginate @inscriptions_valide
