%h4
  = @mailing.nom.upcase

%p
  %b Mail :
  = @mailing.mail
%p
  %b Type :
  = @mailing.type_mailing

%p.margin-top
  Inscrits
%hr

%table.striped
  %tbody
  - @inscriptions_valide.each do |ins|
    %tr
      %td
        = ins.uid
      -if ins.uid == @mailing.creator
        %td.right-align
          %span.admin Administrateur

= will_paginate @inscriptions_valide
